body {
  background-image: url("./img/fondo.jpg");
  background-repeat: inherit;

  font-family: "Creepster", cursive;
  text-shadow: 3px 3px 4px rgba(13, 250, 25, 0.986);
}

small {
  color: black;
}

.jumbotron {
  margin: 15px 30px 0px 30px;
  border-radius: 10px;

  background: url("./img/banner.png");
  background-repeat: no-repeat;

  height: 340px;
  background-size: contain;
  background-position: center;
}

.card {
  border-radius: 3px;
  background: #fff;
  box-shadow: 0 4px 4px rgba(13, 250, 25, 0.986),
    0 0 4px rgba(13, 250, 25, 0.986);
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  padding: 14px 80px 18px 36px;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(13, 250, 25, 0.986),
    0 4px 8px rgba(13, 250, 25, 0.986);
}
